:root {
    --main-color: #648e4a;
    --logo-blue: #1d3969;
    --logo-green: #007700;
    --light-green: #6aac41;
    --green-todbg: #b3e295;
    --gold: #FFD700;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#root {
    animation: fadeIn 1s ease-in-out;
}

.question_option{
    border: none;
    background-color: #ffffff;
    color: #4aa7ff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.question_option:hover{
    border: none;
    background-color: #2196F3;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}