:root {
    --main-color: #648e4a;
    --logo-blue: #1d3969;
    --logo-green: #007700;
    --light-green: #6aac41;
    --green-todbg: #b3e295;
    --gold: #FFD700;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#root {
    animation: fadeIn 1s ease-in-out;
}